<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>HOME</h1>
      <div>[[${pagingRequestDTO}]]</div>
  </div>

  <script layout:fragment="script" th:inline="javascript">
    // comment
    console.log("script...");
    const arr = [[${arr}]]
  </script>
</body>
</html>